.scores {
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores h4 {
    margin: 16px 0;
}

.scores h5 {
    margin: 8px 0;
}

.scores-list {
    width: 100%;
    margin: 0;
    padding: 0 32px;
}

.scores-list__item {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}