#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 16px;
  color: #37474F;
}

.app {
  padding: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CFD8DC;
}

button {
  margin: 8px 0;
  border: none;
  border-radius: 0;
  font-size: 0.75em;
  padding: 8px 16px;
  background: #B3E5FC;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}